@import './search.css';
@import './navigation.css';
@import './header.css';
@import './sticky.css';

.page   {
    padding-inline-start: 2em;
    padding-inline-end: 2em;
    padding-block-end: 2em;
}

.page.is-image{
    background-image: url(../images/img-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.page-block{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



.page .header {
    margin-block-end: 1rem;
    margin-inline-end: -1.5rem;
    margin-inline-start: -1.5rem;
}